@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(1, 16vw) repeat(4, 21vw);
  grid-template-rows: repeat(1, 20vh) repeat(4, 20vh);
}

.sidebar {
  background-color: #1992d4;
  color: #fff;
  font-family: "Nunito", monospace;
  font-weight: bold;
  padding-top: 4vh;
  grid-row: 1 / 6;
  display: grid;
  grid-template-rows: 10vh 30vh 15vh;
  justify-content: center;
}

.dashboard-1 {
  font-size: 1.5rem;
}

.dashboard-2 {
  font-size: 1.2rem;
  display: grid;
  grid-template-rows: repeat(6, 4vh);
}

.dashboard-3 {
  font-size: 1.2rem;
  display: grid;
  grid-template-rows: repeat(3, 4vh);
}

.header {
  background-color: grey;
  grid-column: 2 / 6;
  grid-row: 1 / 2;
}

.main-content {
  background-color: lightcoral;
  grid-column: 2 / 6;
  grid-row: 2 / 6;
}
